/* Styles de base */
body, h1, h2, h3, p, ul, li, a, button {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Arial', sans-serif; /* Utilisez la police que vous préférez */
    color: white; /* Couleur de texte globale */
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Barre de navigation */
nav ul {
    display: flex;
    justify-content: center;
    background-color: #deb887;
    padding: 10px;
}

nav li {
    padding: 0 20px;
}

nav a:hover {
    color: #d2691e;
}

/* Boutons */
button, .button {
    background-color: #4CAF50; /* Vert */
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-family: 'Arial', sans-serif; /* Assurez-vous que cela correspond à votre style de police général */
}

button:hover, .button:hover {
    background-color: #45a049;
}
header h6 {
    margin: 0;
    padding: 5px 0; /* Ajustez selon vos besoins */
    text-align: center;

}




h6 {
    margin-top: 0; /* Réduit l'espace au-dessus de 'Les Petits Pains' */
    padding-top: 0;
    font-family: 'Arial', sans-serif;
    text-align: center;
    font-size: 20px
}
/* Fond de page */
body {
    background-image: url('/Users/heddy/Desktop/esilv/A4/Software/Image/Accueil.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

/* Styles de section */
#banner, .about-section, .cart-item, .subscription-option {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6); /* Noir avec 60% d'opacité */
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 20px;
}

#banner h1, #banner p, .about-section h2, .about-section p {
    text-shadow: 2px 2px 4px #000000;
}

/* Images produits */
.product {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Vous pouvez conserver cette marge si vous souhaitez de l'espace entre les produits */
    border: 1px solid #ccc; /* Appliquez la bordure ici pour le conteneur entier */
    border-radius: 8px; /* Bordure arrondie pour le conteneur entier */
    overflow: hidden; /* S'assure que tout contenu débordant sera coupé, comme une image */
}
.product-image {
    width: 100px; /* ou la taille que vous souhaitez */
    /* Pas de bordure ou de padding ici car elle est déjà sur le conteneur .product */
}

/* Informations produit */
.product-info {
    flex-grow: 1;
    padding: 10px; /* Ajoutez du padding pour l'espacement à l'intérieur du conteneur */
    text-shadow: 1px 1px 2px #000;
    background-color: rgba(0, 0, 0, 0.6); /* Fond semi-transparent pour les infos */
    color: white; /* Texte en blanc pour la visibilité */
}


/* Main et cart-item */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Cela distribuera l'espace uniformément et placera les éléments au centre s'il y a de l'espace supplémentaire */
    gap: 20px; /* Espace entre les produits */
    width: 100%; /* Prend toute la largeur */
    margin: 0 auto; /* Centrage horizontal */
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
}

.cart-item p {
    margin-left: 20px;
    text-align: left;
}

/* Totals et boutons du panier */
#cart-total {
    font-weight: bold;
}

#checkout {
    display: block;
    width: 200px;
    margin: 20px auto;
}

/* Styles des articles du panier */
.cart-item button {
    background-color: #d9534f;
    padding: 5px 10px;
}

.cart-item button:hover {
    background-color: #c9302c;
}
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    font-family: 'Arial', sans-serif;
    bottom: 0;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
}

.footer-section h3, .footer-section h4 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
}

.footer-section input[type="email"] {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-section button {
    padding: 10px 20px;
    background-color: #deb887;
    color: #333;
    border: none;
    cursor: pointer;
}

.footer-social-media {
    text-align: center;
    padding: 10px 0;
}

.footer-social-media a {
    color: white;
    text-decoration: none;
    padding: 0 10px;
}

.footer-bottom {
    text-align: center;
    font-size: 12px;
    padding-top: 10px;
}

/* Si vous avez besoin de mettre le footer en bas de la page, vous pouvez utiliser : */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}


button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Ajoutez des styles supplémentaires pour le texte, les boutons et la mise en page. */




