body, h1, h2, h3, p, li, a, button {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Arial', sans-serif;
    color: white; /* Couleur de texte globale modifiée en noir */
}
h2, main {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Arial', sans-serif;
    color: black; /* Couleur de texte globale modifiée en noir */
}

ul { margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Arial', sans-serif;
    color: white; /* Couleur de texte globale modifiée en noir */
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Barre de navigation */
nav ul {
    display: flex;
    justify-content: center;
    background-color: #deb887;
    padding: 10px;
}

nav li {
    padding: 0 20px;
}

nav a:hover {
    color: #d2691e;
}

/* Boutons */
button, .button {
    background-color: #4CAF50; /* Vert */
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-family: 'Arial', sans-serif; /* Assurez-vous que cela correspond à votre style de police général */
}

button:hover, .button:hover {
    background-color: #45a049;
}
/* Ajoutez vos styles de base et de navigation ici. */

#custom-basket, #delivery-options {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin: 10px 0;
}

input[type=number] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ddd;
}

select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ddd;
}

input[type=submit] {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    font-family: 'Arial', sans-serif;
    bottom: 0;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
}

.footer-section h3, .footer-section h4 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
}

.footer-section input[type="email"] {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-section button {
    padding: 10px 20px;
    background-color: #deb887;
    color: #333;
    border: none;
    cursor: pointer;
}

.footer-social-media {
    text-align: center;
    padding: 10px 0;
}

.footer-social-media a {
    color: white;
    text-decoration: none;
    padding: 0 10px;
}

.footer-bottom {
    text-align: center;
    font-size: 12px;
    padding-top: 10px;
}

/* Si vous avez besoin de mettre le footer en bas de la page, vous pouvez utiliser : */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

/* Ajoutez vos styles existants ici */

/* Container pour les produits et les options de livraison */
.container {
    display: flex;
    justify-content: space-between;
}

.products, .delivery-options {
    flex: 1;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;

}

/* Styles pour les champs de quantité */
.quantity-input {

    height: 10px; /* Réduisez la hauteur si nécessaire */

    text-align: center;
    width: 60px; /* ou la largeur que vous préférez */
    margin: 0 5px;

}

/* Styles pour les jours et moments de livraison */
.day, .time-slot {
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    margin: 5px;
    border-radius: 4px;
    display: inline-block;
}

.active {
    background-color: #4CAF50;
    color: white;
}

/* ... Ajoutez d'autres styles si nécessaire ... */


.separator {
    border: none;
    border-top: 1px solid #ccc; /* Crée un trait de séparation */
    margin: 20px 0; /* Ajoute de l'espace autour du séparateur */
}

/* Supprimez ou ajustez les styles des .products et .delivery-options si nécessaire */
.products, .delivery-options {
    /* Supprimez les propriétés de bordure si vous ne souhaitez pas de grands conteneurs */
    padding: 10px;
    /* Autres styles... */
}